/* section one start */

.section-one{
    width: 100%;
    height: 653px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 129px;
    /* background-color: antiquewhite; */
}

.section-one .left-container{
    width: 631px;
    height: 372px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.section-one .left-container button{
    width: 220px;
    height: 64px;
    padding: 20px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.section-one .left-container button:hover{
    background-color: #2987FF;
}

.section-one .right-container{
    width: 533px;
    height: 493px;
}


.section-one .right-container img{
    width: 100%;
    height: 100%;
}

/* section one end */



/* section two start */

.section-two{
    width: 100%;
    height: 584px;
    background-image: url('../images/About/section-two/bg-image.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}


.section-two .first{
    width: 276px;
    height: 337px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.section-two .first img{
    width: 100%;
    height: 231px;
}

.section-two .second{
    width: 190px;
    height: 337px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.section-two .second img{
    width: 100%;
    height: auto;
}

.section-two .third{
    width: 246px;
    height: 337px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
   
}

.section-two .third img{
    width: 100%;
    height: 244px;
}

/* section two end */




/* section three start */

.section-three{
    width: 100%;
    height: 683px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.section-three .left-container{
    width: 721px;
    height: 363px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: start;
    justify-content: start;
    margin: 160 0 160 100;
    
}


.section-three .right-container{
    width: 523px;
    height: 523px;
    margin: 80 71 80 0;
}

.section-three .right-container img{
    width: 100%;
    height: 100%;
}




/* section three end */



/* section four start */

.section-four{
    width: 100%;
    height: 683px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    /* background-color: yellowgreen; */
}


.section-four .left-container{
    width: 523px;
    height: 523px;
}

.section-four .left-container img{
    width: 100%;
    height: 100%;
}

.section-four .right-container{
    width: 721px;
    height: 363px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: end;
    gap: 31px;
}

/* section four end */


/* section five start */

.section-five{
    width: 100%;
    height: 683px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.section-five .left-container{
    width: 721px;
    height: 363px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: start;
    justify-content: start;
    margin: 160 0 160 100;
    
}


.section-five .right-container{
    width: 523px;
    height: 523px;
    margin: 80 71 80 0;
}

.section-five .right-container img{
    width: 100%;
    height: 100%;
}




/* section five end */

/* section six start */

.section-six{
    width: 100%;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.section-six .top-container{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-six .top-container h1{
    width: 100%;
    height: 100%;
}

.section-six .bottom-container{
    width: 1200px;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
} 


.section-six .bottom-container img{
    width: 100%;
    height: 100%;
}

/* section six end */

/* media query start */

@media (max-width:1360px){
    .section-one{
        gap: 50px;
    }

    .section-one .left-container{
        width: 600px;
    }


    .section-two{
        gap: 220px;
    }

    .section-three{
        gap: 20px;
    }

    .section-three .left-container{
        width: 603px;
    }

    .section-four{
        gap: 20px;
    }
    
    .section-four .right-container{
        width: 603px;
    }


    .section-five{
        gap: 20px;
    }

    .section-five .left-container{
        width: 603px;
    }

}

@media (max-width:1250px){
    .section-one{
        gap: 20px;
    }
    
    .section-one .left-container{
        width: 550px;
    }

    .section-two{
        gap: 180px;
    }


    .section-three .left-container{
        width: 553px;
    }


    .section-three .right-container{
        width: 500px;
        height: auto;
    }

    .section-four{
        gap: 20px;
    }
    
    .section-four .right-container{
        width: 553px;
    }

    .section-four .left-container{
        width: 500px;
        height: auto;
    }


    .section-five{
        gap: 20px;
    }

    .section-five .left-container{
        width: 553px;
    }

    .section-five .right-container{
        width: 500px;
        height: auto;
    }

    .section-six {
        height: auto;
    }
    .section-six .bottom-container {
        width: 90%;
        height: auto;
    }

}

@media (max-width:1120px){

    
    .section-one .left-container{
        width: 500px;
    }

    .section-one .right-container{
        width: 503px;
        height: auto;
    }

    .section-two{
        gap: 150px;
    }

    
    .section-three .left-container{
        width: 553px;
    }


    .section-three .right-container{
        width: 480px;
    }

    .section-four{
        gap: 20px;
    }
    
    .section-four .right-container{
        width: 553px;
    }

    .section-four .left-container{
        width: 480px;
    }


    .section-five{
        gap: 20px;
    }

    .section-five .left-container{
        width: 553px;
    }

    .section-five .right-container{
        width: 480px;
    }

    .section-six .bottom-container {

        width: 90%;
    }

}

@media (max-width:1000px){
    .section-one{
        height: auto;
        flex-direction: column-reverse;
        gap: 80px;
    }
    
    .section-one .left-container{
        height: auto;
        width: 80%;
        padding-bottom: 5%;
    }
    
    .section-one .right-container{
        width: 80%;
        padding-top: 5%;
    }

    .section-two{
        align-items: end;
        gap: 100px;
        height: auto;
    }

    .section-two .first{
        width: 25%;
        height: auto;
    }
    .section-two .second{
        width: 20%;
        height: auto;
    }
    
    .section-two .third{
        width: 25%;
        height: auto;
    }

    .section-three{
        height: auto;
        flex-direction: column;
        margin: 80px 0px;
        gap: 70px;
    }
    
    .section-three .left-container{
        width: 80%;
        height: auto;
    }
    
    
    
    .section-four{
        height: auto;
        flex-direction: column-reverse;
        margin: 80px 0px;
        gap: 70px;
    }
    
    .section-four .right-container{
        width: 80%;
        text-align: end;
        height: auto;
    }
    
    .section-five{
        height: auto;
        flex-direction: column;
        margin: 80px 0px;
        gap: 70px;
    }
    
    .section-five .left-container{
        width: 80%;
        height: auto;
    }

    /* .section-six .bottom-container{
        width: 0%;
    } */

}



@media (max-width:820px){
    
    .section-two{
        gap: 40px;
    }


    .section-two .first{
        width: auto;
        height: auto;
    }
    .section-two .second{
        width: 20%;
        height: auto;
    }
    
    .section-two .third{
        width: 20%;
        height: auto;
    }

    .section-three .right-container{
        width: 75%;
        margin: 60px 0px;

    }

    .section-four .left-container{
        width: 75%;
        margin: 60px 0px;

    }

    .section-five .right-container{
        width: 75%;
        margin: 60px 0px;

    }
}

@media (max-width:600px){

    .section-one .right-container{
        width: 80%;
        margin: 20px 0px;
    }

    .section-two .first{
        width: 20%;
        height: auto;
    }
    .section-two .second{
        width: 20%;
        height: auto;
    }
    
    .section-two .third{
        width: 20%;
        height: auto;
    }

    .section-three{
        gap: 20px;
    }
    
    .section-three .right-container{
        width: 70%;
        margin: 20px 0px;
        
    }
    
    .section-four{
        gap: 20px;
    }
    .section-four .left-container{
        width: 70%;
        margin: 20px 0px;
        
    }
    
    .section-five{
        gap: 20px;
    }

    .section-five .right-container{
        width: 70%;
        margin: 20px 0px;

    }

}


@media (max-width:450px){

    .section-one .right-container{
        width: 80%;
        margin: 10px 0px;

}
    
    .section-three .right-container{
        width: 70%;
        margin: 10px 0px;

    }

    .section-four .left-container{
        width: 70%;
        margin: 10px 0px;

    }
    .section-five{
        height: 550px;
    }

    .section-five .right-container{
        width: 70%;
        margin: 10px 0px;

    }

}


@media (max-width:350px){

    .section-one .right-container{
        width: 80%;
        margin: 0px 0px;

}
    
    .section-three .right-container{
        width: 70%;
        margin: 0px 0px;

    }

    .section-four .left-container{
        width: 70%;
        margin: 0px 0px;

    }

    .section-five .right-container{
        width: 70%;
        margin: 0px 0px;

    }

}


/* media query end */