/* Section one start */

.section-one{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Home/section-one/background.png);
    background-size: cover;
    background-position: center;
}



.section-one .total-container{
    width: 1293px;
    height: 533px;
    display: flex;
    gap: 129px;
    align-items: center;
    justify-content: center;
    padding: 80px 70px;
}

.section-one .total-container .left-container{
    width: 631px;
    height: 457px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.section-one .total-container .left-container button{
    width: 250px;
    height: 64px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.section-one .total-container .left-container button:hover{
    background-color: #2987FF;
}

.section-one .total-container .right-container{
    width: 533px;
    height: 494px;
    /* background-color: aqua; */
} 

.section-one .total-container .right-container img{
    width: 100%;
    height: 100%;

}


/* Section one end */


/* Section two start */

.section-two{
    width: 100%;
    height: 502px;
    /* background-color: red; */
    gap: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two .button-container{
    display: flex;
    gap: 34px;
}

.section-two .one{
    width: auto;
    height: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.section-two .two{
    width: auto;
    height: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}



/* Section two end */





/* section three start */

.section-three{
    width: 100%;
    height: 662px;
    display: flex;
    /* flex-direction: row; */
    gap: 155px;
    /* background-color: #2987FF;    */
    align-items: center;
    justify-content: center;
}

.section-three .left-container{
    width: 443px;
    height: 502px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three img{
    width: 443px;
    height: 502px;
    margin: 80px 0px 80px 0px;

}


.section-three .right-container{
    width: 685px;
    height: 277px;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 31px;
}


/* section three end */



/* section-four-start */

.section-four{
    width: 100%;
    height: 662px;
    display: flex;
    flex-direction: row;
    gap: 135px;
    /* background-color: #2987FF;   */
    align-items: center;
    justify-content: center;
}

.section-four .left-container{
    width: 721px;
    height: 277px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.section-four .right-container{
    width: 443px;
    height: 502px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-four img{
    width: 443px;
    height: 502px;
    margin: 80px 0px 80px 0px;

}

/* section-four-end */





/* section five start */

.section-five{
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.section-five .bottom-container{
    width: 100%;
    height: 505px;
    background-color: #2987FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
}

.section-five .bottom-container .first{
    width: 370px;
    height: 418px;
    background-color: aqua;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}


.section-five .bottom-container .second{
    width: 370px;
    height: 100%;
    background-color: aqua;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}


.section-five .bottom-container .third  {
    width: 370px;
    height: 418px;
    background-color: aqua;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

/* section five end */




/* Section six start */

.section-six{
    width: 100%;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Home/section-six/BG\ image.png);
    background-size: cover;
    background-position: center;
}

.section-six .content-container{
    width: 818px;
    height: 132px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    justify-content: center ;
}

.section-six .content-container button{
    width: 200px;
    height: 64px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.section-six .content-container button:hover{
    background-color: #2987FF;
}






/* Section six end */