@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}



/* resp nav bar start */

/* burger start */
section header nav #Burger{
    display: none;
}

section header nav label{
    display: none;
    font-size: 24px;
}

/* burger end */

/* profile start */

section header nav .profile{
    display: none;
}

section header nav #profile{
    display: none;
}



/* profile end */




/* resp nav bar end */



/* Style guide font start */

.primary-font{
    font-size: 24px;
}

.primary-big{
    font-size: 70px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 54px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 54px;
    font-weight: 700;
}


.secondary-font{
    font-size: 20px;
}

.secondary-big{
    font-size: 30px;
}

.secondary-bold-font{
    font-size: 20px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 45px;
    font-weight: 500;
}
/* Style guide font end */




/* Style guide color start */

.primary-color{
    color: #1D65C1;
}

.primary-color-bg{
    background-color: #1D65C1;
}


.primary-color-hover{
    color: #2987FF;
}

.primary-color-hover-bg{
    background-color: #2987FF;
}

.secondary-color{
    color: #344854;
}

.secondary-color-bg{
    background-color: #344854;
}

.secondary-color-hover{
    color: #4D6A7C;
}


.secondary-color-hover-bg{
    background-color: #4D6A7C;
}

.teritory-color{
    color: #FFFFFF;
}

.teritory-color-bg{
    background-color: #FFFFFF;
}


.teritory-color-hover{
    color: #D9D9D9;
}


.teritory-color-hover-bg{
    background-color: #D9D9D9;
}

.background-color{
    background-color: #ECECEC;
}


/* Style guide color end */





/* Nav bar start */

/* section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
} */



header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: solid rgba(0, 0, 0, 0.197);
}

header nav .first{
    display: flex;
    gap: 30px;
}


nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 151px; */
    padding: 40px 70px;
    position: relative;
    /* background-color: antiquewhite; */
}



nav ul{
    display: flex;
    gap: 82px;
}


nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}


nav .button-container{
    position: relative;
    display: flex;
    gap: 57px;
}


nav .button-container .one{
    padding: 10px 23px;
    border: none;
    border-radius: 26px;
    cursor: pointer;   
}

nav .button-container .one:hover{
    background-color: #4D6A7C;
}


nav .button-container .two{
    padding: 10px 23px;
    border: none;
    border-radius: 26px;
    cursor: pointer;   
}


nav .button-container .two:hover{
    background-color: #2987FF;
}

/* Nav bar end */





















/* Footer start */

footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .total-container{
    width: 100%;
    height: auto;
    padding-top: 52px;
    padding-bottom: 116px;
    display: flex;
    /* flex-direction: column; */
    gap: 34.5px;
    padding-left: 308px;
}

footer .container-one{
    width: 20.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container-one .paragraph-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container-five .icons{
    display: flex;
    gap: 20px;
    align-items: center;
}

footer .container-five .icons .instagram img, footer .container-five .icons .facebook img{
    width: 32px;
    height: 32px;
}

footer .container-five .icons .youtube img{
    width: 32px;
    height: 25px;
}


footer .container-two{
    width: 12.2%;
    height: 234px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


footer .container-two ul{
    display: flex;
    flex-direction: column  ;
    gap: 18px;
}

footer .container-two ul li{
    list-style: none;

}


footer .container-three{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container-three ul li{
    list-style: none;

}

footer .container-three ul{
    display: flex;
    flex-direction: column  ;
    gap: 18px;
}



footer .container-four{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container-four ul li{
    list-style: none;

}

footer .container-four ul{
    display: flex;
    flex-direction: column  ;
    gap: 18px;
}

footer .container-five{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container-five img{
    width: 159px;
    height: 42px;
}

footer .copyright-container{
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

/* Footer end */



/* media query start */


@media (max-width:1360px)
{
    /* Style guide font start */

.primary-font{
    font-size: 22px;
}

.primary-big{
    font-size: 66px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 50px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 50px;
    font-weight: 700;
}


.secondary-font{
    font-size: 16px;
}

.secondary-big{
    font-size: 26px;
}

.secondary-bold-font{
    font-size: 20px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 40px;
    font-weight: 500;
}
}
/* Style guide font end */



@media (max-width:1300px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 60px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 45px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 45px;
    font-weight: 700;
}


.secondary-font{
    font-size: 14px;
}

.secondary-big{
    font-size: 22px;
}

.secondary-bold-font{
    font-size: 20px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 38px;
    font-weight: 500;
}
/* Style guide font end */


}





@media (max-width:1260px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 56px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 40px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 40px;
    font-weight: 700;
}


.secondary-font{
    font-size: 14px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 20px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 34px;
    font-weight: 500;
}
}
/* Style guide font end */




@media (max-width:1120px)
{

    /* resp nav bar start */

    nav ul{
        width: 95%;
        height: auto;
        padding: 50px 0px;
        top: 102%;
        left: -100%;
        padding-left: 5%;
        position: absolute;
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        transition-duration: 0.7s;
        background-color: rgb(236,236,236);
    } 

    section header nav label{
        display: block;
    }

    nav #Burger:checked ~ ul{
        left: 0%;
    }

    nav .button-container{
        gap: 47px;
    }

    footer .total-container{
        flex-direction: column;
    }

    /* resp nav bar end */




    /* Style guide font start */


    

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 54px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 36px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 36px;
    font-weight: 700;
}


.secondary-font{
    font-size: 20px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 20px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 30px;
    font-weight: 500;
}
/* Style guide font end */


}

@media (max-width:1000px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 52px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 34px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 34px;
    font-weight: 700;
}


.secondary-font{
    font-size: 24px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 18px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 28px;
    font-weight: 500;
}
/* Style guide font end */


}


@media (max-width:900px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 48px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 32px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 32px;
    font-weight: 700;
}


.secondary-font{
    font-size: 22px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 18px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 24px;
    font-weight: 500;
}
/* Style guide font end */


nav .button-container{
    gap: 30px;
}


}



@media (max-width:800px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 44px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 30px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 30px;
    font-weight: 700;
}


.secondary-font{
    font-size: 20px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 16px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 22px;
    font-weight: 500;
}
/* Style guide font end */


nav .button-container{
    gap: 25px;
}


nav .button-container .one{
    padding: 8px 20px;
}


}

@media (max-width:700px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 44px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 30px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 30px;
    font-weight: 700;
}


.secondary-font{
    font-size: 20px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 16px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 22px;
    font-weight: 500;
}
/* Style guide font end */


nav .button-container{
    gap: 25px;
}


nav .button-container .one{
    padding: 8px 20px;
}


}



@media (max-width:600px)
{
    /* Style guide font start */

.primary-font{
    font-size: 20px;
}

.primary-big{
    font-size: 44px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 30px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 28px;
    font-weight: 700;
}


.secondary-font{
    font-size: 18px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 16px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 22px;
    font-weight: 500;
}
/* Style guide font end */

nav .button-container{
    gap: 20px;
}


/* resp nav start  */

/* nav{
    justify-content: start;
    gap: 30px;
} */

nav .button-container{
    display: none;
    width: auto;
    height: 100px;
    padding: 30px 10px;
    position: absolute;
    flex-direction: column;
    right: 5%;
    bottom: 100%;
    transition-duration: 0.7s;
    background-color: rgb(236, 236, 236);
}

section header nav .profile{
    display: block;
}

nav #profile:checked ~ .button-container{
    display: flex;
    top: 100%;
}


/* resp nav end  */



}


@media (max-width:500px)
{
    /* Style guide font start */

.primary-font{
    font-size: 18px;
}

.primary-big{
    font-size: 32px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 26px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 26px;
    font-weight: 700;
}


.secondary-font{
    font-size: 16px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 14px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 20px;
    font-weight: 500;
}
/* Style guide font end */

nav .button-container{
    gap: 15px;
}


}




@media (max-width:400px)
{
    /* Style guide font start */

.primary-font{
    font-size: 16px;
}

.primary-big{
    font-size: 28px;
    font-weight: 600;
}

.primary-semibold-font{
    font-size: 22px;
    font-weight: 600;
}

.primary-bold-font{
    font-size: 25px;
    font-weight: 700;
}


.secondary-font{
    font-size: 16px;
}

.secondary-big{
    font-size: 20px;
}

.secondary-bold-font{
    font-size: 12px;
    font-weight: 700;
}

.teritory-font{
    font-size: 16px;
}

.card-big-font{
    font-size: 20px;
    font-weight: 500;
}
/* Style guide font end */

nav .button-container{
    gap: 10px;
}
}

@media (max-width:375px){
    nav{
        width: 320px;
        justify-content: center; 
        gap: 50px;       
    }
}











/* media query end */

